@import "../../styles/base/variables";

.root {
  width: 82px;
  height: fit-content;
  padding: 5px;
  cursor: pointer;
  border-radius: 4px;
}

.fullLength {
  width: 100%;
}

.default {
  border: 1px $dark-grey solid;
  color: $dark-grey;

  &:hover,
  &.selected {
    background: $dark-grey;
    color: white;
  }
}

.error {
  border: 1px $red-50 solid;
  color: $red-50;

  &:hover,
  &.selected {
    background: $red-50;
    color: white;
  }
}

.warning {
  border: 1px $orange-50 solid;
  color: $orange-50;

  &:hover,
  &.selected {
    background: $orange-50;
    color: white;
  }
}

.accept {
  border: 1px $green-50 solid;
  color: $green-50;

  &:hover,
  &.selected {
    background: $green-50;
    color: white;
  }
}

