@import 'src/styles/base/variables';

.dashboardButton {
  width: 82px;
  border: 1px $dark-grey solid;
  padding: 5px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 4px;

  &:hover,
  &.selected {
    background: $dark-grey;
    color: white;
  }
}

.game-ready {
  width: 194px;
  line-height: 1.4;
  padding-right: 20px;
}

.join-game-button {
  padding-right: 10px;
}