@import "../../styles/base/variables";

.root {
  width: 82px;
  height: fit-content;
  padding: 5px;
  cursor: pointer;
  border-radius: 4px;
}

.fullLength {
  width: fit-content;
}

.default {
  border: 1px $dark-grey solid;
  color: $dark-grey;

  &:hover,
  &.selected {
    background: $dark-grey;
    color: white;
  }
}

.error {
  border: 1px $red-50 solid;
  color: $red-50;

  &:hover,
  &.selected {
    background: $red-50;
    color: white;
  }
}

.warning {
  border: 1px $orange-50 solid;
  color: $orange-50;

  &:hover,
  &.selected {
    background: $orange-50;
    color: white;
  }
}

.accept {
  border: 1px $green-50 solid;
  color: $green-50;

  &:hover,
  &.selected {
    background: $green-50;
    color: white;
  }
}

.primary {
  border: 1px $active-color solid;
  color: $active-color;

  &:hover,
  &.selected {
    background: $active-color;
    color: white;
  }
}

.inverse {
  border: 1px $off-white solid;
  color: $off-white;

  &:hover,
  &.selected {
    background: $off-white;
    color: $dark-grey;
  }
}

.spaceLeft {
  margin-left: 10px;
}

.spaceRight {
  margin-right: 10px;
}

.spaceBottom {
  margin-bottom: 10px;
}

.spaceTop {
  margin-top: 10px;
}

.notAvailable {
  pointer-events: none;
}

.faded {
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}

