@import 'src/styles/base/variables';

.board {
  display: grid;
  grid-gap: 0;
  grid-template-columns: $square-width $square-width $square-width $square-width $square-width $square-width $square-width $square-width;
  width: fit-content;
  border: 2px $board-color solid;

  &.topActive {
    border-top: 2px $active-color solid;
  }
  &.baselineActive {
    border-bottom: 2px $active-color solid;
  }
}

.indicator {
  width: 324px;
  height: 4px;

  &.active {
    background: $active-color;
  }
}