@import 'src/styles/base/variables';

.board {
  display: grid;
  grid-gap: 0;
  grid-template-columns: $square-width $square-width $square-width $square-width $square-width $square-width $square-width $square-width;
  width: fit-content;
  border: 1px #325a53 solid;
}