@import 'src/styles/base/variables';

.root {
  margin-top: 10px;

  .message {
    text-align: center;

    .available {
      color: green;
      cursor: pointer;
    }
    .unavailable {
      color: red;
      cursor: pointer;
    }
  }


}