@import "src/styles/base/variables";

.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $dark-grey;

  a {
    align-self: center;
    text-decoration: none;


    h3 {
      cursor: pointer;
      color: $dark-grey;
    }
  }

}
