@import "src/styles/base/variables";

.root {
  display: flex;
  flex-direction: column;
  color: $dark-grey;

  a {
    align-self: center;
    text-decoration: none;

    h3 {
      cursor: pointer;
    }
  }
}
