@import "src/styles/base/variables";

.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $dark-blue;
  padding: 0 20px;
  margin: 0 -20px 20px -20px;

  a {
    align-self: center;
    text-decoration: none;

    h3 {
      cursor: pointer;
      color: $off-white;
    }
  }

  .icons {
    display: flex;
    align-items: center;

    .icon {
      cursor: pointer;
      color: $off-white;
      margin-left: 20px;
    }

    .login {
      margin-left: 10px;
    }
  }
}
