@import 'styles/base/variables';

header {
  width: fit-content;
  margin-left: 130px;
  color: $dark-grey;
  h3 {
    cursor: pointer;
  }
}

.waiting-message {
  width: 190px;
  align-self: flex-end;
  margin-left: 30px;

  p {
    font-size: 12px;
    line-height: 1.1;
  }
}

.join-game-input {
  margin-left: 40px;
  height: 30px;
  align-self: flex-end;
}

.your-turn {
  align-self: flex-end;
  margin-left: 35px;
  color: green;
  font-weight: bold;
}

