@import 'src/styles/base/variables';

.root {
  text-align: center;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.green {
  background: $board-color;
}

.highlighted {
  border: 2px $active-color solid;
}